<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    Access-Control-Allow-Origin: *
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 2 331</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="src/views/code.js"></script>
    

</head>
<body>
    <h2>Contacts</h2>
    <ul id="contacts"></ul>
   

    <H3>Add a contact</H3>
    <p>First Name: <input type="text" placeholder="First Name"id="fname"></p>
    <p>Last Name: <input type="text"placeholder="Last Name" id="lname" ></p>
    <p>Phone no: <input type="text"placeholder="3016871234" id="phone"></p>
    <p>Email: <input type="mail"placeholder="abc@123.com" id="email"></p>
    <p>Company: <input type="text" placeholder="Company Name" id="cname"></p>
    <button id="add-contact">Add!</button> 

    <h4>Change</h4>
    <button id="change">Change!</button> 

    <h4>DELETE</h4>
    <button id="del-contact">delete!</button> 
    
    
    
    </body>
</html>